thead {
  background-color: #000000;
  color: white;
}
.showRanking {
  width: 90% !important;
  margin-left: 5%;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 10%;
}
.teamImage {
  width: 25px;
  height: 25px;
}
